---
import AboutSec from '../../components/tw/Aboutsec.astro';
import Layout from '../../layouts/tw/Layout.astro';
import Mainheader from '../../components/tw/Mainheader.astro';
import Mainfooter from '../../components/Mainfooter.astro';
import "../../styles/global.css";


---

<Layout title="資訊 - 台灣AI男子" description="介紹台灣AI男子的創作契機以及經營者的相關資訊">
	<div class="md:max-w-98 lg:max-w-98 mx-auto flex flex-col items-center bg-white">
		<Mainheader />
		<AboutSec />
		<Mainfooter />
	</div>
</Layout>
