---
import AboutSec from '../../components/tw/Requestsec.astro';
import Layout from '../../layouts/tw/Layout.astro';
import Mainheader from '../../components/tw/Mainheader.astro';
import Mainfooter from '../../components/Mainfooter.astro';
import "../../styles/global.css";


---

<Layout title="洽詢 - 台灣AI男子" description="歡迎洽詢與台灣AI男子的合作事宜，也接受AI圖像生成的委託。">
	<div class="md:max-w-98 lg:max-w-98 mx-auto flex flex-col items-center bg-white">
		<Mainheader />
		<AboutSec />
		<Mainfooter />
	</div>
</Layout>
