---
import Boyssec from '../../components/tw/s01.astro';
import Layout from '../../layouts/tw/Layout.astro';
import Mainheader from '../../components/tw/Mainheader.astro';
import Mainfooter from '../../components/Mainfooter.astro';
import "../../styles/global.css";
---

<Layout title="固定成員介紹 - 台灣AI男子" description="介紹我們的專屬成員 那位頻繁登場的台灣AI男子">
	<div class="md:max-w-98 lg:max-w-98 mx-auto flex flex-col items-center bg-white">
		<Mainheader />
		<Boyssec />
		<Mainfooter />
	</div>
</Layout>
