@import "tailwindcss";

@theme inline {
  --font-sawarabi-gothic: "Sawarabi Gothic", sans-serif;
  --font-shippori-mincho: "Shippori Mincho", serif;
  --font-noto-sans-tc: "Noto Sans TC", sans-serif;
  --font-noto-serif-tc: "Noto Serif TC", serif;
}

:root {
  color-scheme: light;
}