---
---

<main>
	<section id="message" class="w-full">
		<div class="flex flex-col items-center mb-10">
			<h2 class="text-3xl font-bold font-noto-sans-tc mb-8">開始的契機</h2>
			<div class="flex flex-col w-[85%] mx-auto">
				<h3 class="font-noto-serif-tc text-xl font-bold mb-3">從一張圖片開始</h3>
				<p class="mb-4 leading-7 font-noto-sans-tc">在AI圖片生成剛開始受到關注的時候，大多數圖片一眼就能看出「這是AI生成的」。</p>
				<p class="mb-4 leading-7 font-noto-sans-tc">就在那個時候，我半開玩笑地想說能不能生成一張有台灣男生感覺的圖片，於是生成了一張「喝著珍珠奶茶的台灣男生」，並發布到了社群媒體上。</p>
				<div class="w-60 rounded-2xl overflow-hidden mx-auto mb-8"><img src="/images/about_image01.jpg" alt="" class="w-full"></div>
				<h3 class="font-noto-serif-tc text-xl font-bold mb-3">在台灣掀起一股熱潮</h3>
				<p class="mb-4 leading-7 font-noto-sans-tc">在社群媒體上，「猜名字」的風潮在台灣爆紅——大家紛紛猜測「這張臉感覺叫〇〇」，從網路新聞的採訪一路延燒到電視媒體。</p>
				<h3 class="font-noto-serif-tc text-xl font-bold mb-3">在IG上的發展</h3>
				<p class="mb-4 leading-7 font-noto-sans-tc">第一次體驗到所謂的「爆紅」，心想既然有這個機會，便在IG上開設了介紹台灣AI男子的帳號。</p>
				<p class="mb-4 leading-7 font-noto-sans-tc">剛開始的時候，專注於讓圖片看起來盡可能真實，但進入2026年之後，逐漸找到了現在的風格——融入了只有生成式AI才能實現的表現方式。</p>
			</div>
		</div>
	</section>

	<section id="message" class="w-full">
		<div class="flex flex-col items-center">
			<h2 class="text-3xl font-bold font-noto-sans-tc mb-8">經營者簡介</h2>
			<div class="w-50 overflow-hidden rounded-full mx-auto mb-6"><img src="/images/profile.jpg" alt="りゃん近影" class="w-full"></div>
			<ul class="flex flex-col gap-y-4 w-[85%] mx-auto font-noto-sans-tc">
				<li>名字: <strong>Liang</strong></li>
				<li><strong>在大阪出生</strong>、大阪長大，目前居住於<strong>福岡</strong>的網頁設計師。</li>
				<li>在台灣最愛吃<strong>豆花</strong>和<strong>地瓜球</strong>。</li>
				<li>曾在台灣（台中・台北）居住約7年。與<strong>台灣人伴侶</strong>的共同生活，以及用<strong>單眼相機</strong>拍攝街景的經歷，對現在「台灣AI男子」的創作活動有著深遠的影響。</li>
			</ul>
		</div>
	</section>
</main>
