---
---

<main>
	<section id="message">
		<div class="flex flex-col items-center">
			<h2 class="text-3xl font-bold font-noto-sans-tc mb-8">台灣男生 + 生成式AI</h2>
			<p class="font-noto-sans-tc text-center leading-8">不只是美食的台灣<br>
			不只是謊言的生成式AI<br>
			將對台灣的愛<br>
			聚焦在「台灣男子」<br>
			呈現貼近生活的日常</p>	
		</div>
	</section>

	<section id="five_points">
		<div class="flex flex-col items-center">
			<div class="w-11 py-10"><img src="/images/icon.svg" alt="icon" class="w-full"></div>
			<h2 class="text-3xl font-bold font-noto-sans-tc mb-10">5個承諾</h2>
			<ul class="flex flex-col gap-y-15 w-[85%] mx-auto">
				<li>
					<h3 class="font-noto-serif-tc text-xl font-bold mb-3">1.強調誠信</h3>
					<p class="mb-6 leading-7 font-noto-sans-tc">台灣AI男子致力於不讓任何年齢、性別、性取向的人感到不舒服。我不在意外表的好壞，而是希望展現一個人純粹的內心、溫柔與親切感。</p>
					<div class="flex justify-end">
						<div class="w-80 rounded-2xl overflow-hidden -mr-15"><img src="/images/photo01.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
				<li>
					<h3 class="font-noto-serif-tc text-xl font-bold mb-3">2.不刻意模仿特定人物</h3>
					<p class="mb-6 leading-7 font-noto-sans-tc">在使用生成式AI時，完全不會輸入任何特定人物的名字。而是憑藉過去的記憶，來判斷是否貼近台灣男性的形象。</p>
					<div class="flex justify-start">
						<div class="w-80 rounded-2xl overflow-hidden -ml-15"><img src="/images/photo02.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
				<li>
					<h3 class="font-noto-serif-tc text-xl font-bold mb-3">3.乾淨的生成內容</h3>
					<p class="mb-6 leading-7 font-noto-sans-tc">我只使用經由付費方案授權可商業使用的工具。背景的台灣風景也全部採用自行拍攝的照片，致力於盡可能保持乾淨合規的創作。</p>
					<div class="flex justify-end">
						<div class="w-80 rounded-2xl overflow-hidden -mr-15"><img src="/images/photo03.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
				<li>
					<h3 class="font-noto-serif-tc text-xl font-bold mb-3">4.不限定國籍或民族</h3>
					<p class="mb-6 leading-7 font-noto-sans-tc">我認為，不能單憑居住年數或血緣關係來決定一個人是否為台灣人。只要尊重台灣特有的文化，並且融入日常生活，我便將其定義為「台灣人」。</p>
					<div class="flex justify-start">
						<div class="w-80 rounded-2xl overflow-hidden -ml-15"><img src="/images/photo04.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
				<li>
					<h3 class="font-noto-serif-tc text-xl font-bold mb-3">5.創造憧憬</h3>
					<p class="mb-6 leading-7 font-noto-sans-tc">我不只是呈現台灣男性的形象，更希望能夠傳遞一種令人嚮往的存在——讓人心想「好想有這樣的朋友」、「我也想拍出這樣的照片」。</p>
					<div class="flex justify-end">
						<div class="w-80 rounded-2xl overflow-hidden -mr-15"><img src="/images/photo05.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section id="rules">
		<div class="flex flex-col items-center w-[80%] mx-auto">
			<div class="w-11 py-10"><img src="/images/icon.svg" alt="icon" class="w-full"></div>
			<h2 class="text-3xl font-bold font-noto-sans-tc mb-10">注意事項</h2>
			<ul class="flex flex-col gap-y-4 list-disc font-noto-sans-tc">
				<li>台灣AI男子使用付費工具生成，因此圖片上會顯示專屬浮水印。</li>
				<li>嚴禁將本網站、社群媒體及任何平台上公開的台灣AI男子圖片、印刷品等，進行未經授權的轉載、複製，或作為AI訓練及參照之用。</li>
				<li>我們無法回答有關所使用的生成式AI工具種類及生成方法的相關問題。</li>
				<li>我們絕不利用台灣AI男子從事以下行為：針對特定人物的誹謗或攻擊、政治宣傳、協助反社會團體或企業、宗教勸誘，以及製作性相關內容。若本服務判斷來自委託方的需求符合上述情況，將一律予以拒絕。</li>
				<li>即使是AI生成的圖片，背景部分仍使用了持有著作權的照片，並進行了色調調整等處理，因此並非完全放棄著作權。</li>
			</ul>
		</div>
	</section>
</main>

<script>
	import { PowerGlitch } from 'powerglitch';
	PowerGlitch.glitch('.glitch', {
		playMode: 'always',
		timing: {
			duration: 4000,
			iterations: Infinity,
			easing: 'ease-in-out',
		},
		glitchTimeSpan: {
			start: 0.5,
			end: 0.7,
		},
		shake: {
			velocity: 15,
			amplitudeX: 0.2,
			amplitudeY: 0.2,
		},
		slice: {
			count: 6,
			velocity: 15,
			minHeight: 0.02,
			maxHeight: 0.15,
		},
	});
</script>
