---
import Boyssec from '../components/boys/s01.astro';
import Layout from '../layouts/Layout.astro';
import Mainheader from '../components/Mainheader.astro';
import Mainfooter from '../components/Mainfooter.astro';
import "../styles/global.css";
---

<Layout title="固定メンバー紹介 - 台湾AI男子" description="専属メンバーとして何度となく登場する台湾AI男子を紹介します。">
	<div class="md:max-w-98 lg:max-w-98 mx-auto flex flex-col items-center bg-white">
		<Mainheader />
		<Boyssec />
		<Mainfooter />
	</div>
</Layout>
