---
---

<main>
	<section id="message" class="w-full">
		<div class="flex flex-col items-center mb-10">
			<h2 class="text-3xl font-bold font-sawarabi-gothic mb-8">始めたきっかけ</h2>
			<div class="flex flex-col w-[85%] mx-auto">
				<h3 class="font-shippori-mincho text-xl font-bold mb-3">1枚の画像から始まった。</h3>
				<p class="mb-4 leading-7">AIによる画像生成が話題になり始めた頃、一般的にいわゆる「AIが生成したとすぐ分かる画像」が大半でした。</p>
				<p class="mb-4 leading-7">その頃に冗談半分で、台湾男性ぽい画像が作れるかなと思って生成した「タピオカミルクティーを飲む台湾男性」を、SNSに投稿しました。</p>
				<div class="w-60 rounded-2xl overflow-hidden mx-auto mb-8"><img src="/images/about_image01.jpg" alt="" class="w-full"></div>
				<h3 class="font-shippori-mincho text-xl font-bold mb-3">台湾で一大ブームに</h3>
				<p class="mb-4 leading-7">SNS上でこの顔の名前は〇〇ぽいという「名前当て」が台湾でブームになり、ネットニュースの取材からテレビにまで広がりました。</p>
				<h3 class="font-shippori-mincho text-xl font-bold mb-3">Instagramでの展開</h3>
				<p class="mb-4 leading-7">初めて“バズ”というものを体験して、せっかくの機会だからと、Instagramに台湾AI男子を紹介するアカウントを開始しました。</p>
				<p class="mb-4 leading-7">始めたころは、とにかくリアルに見せることに注力していましたが、2026年に入ってからは、生成AIだからこそ可能な表現を取り入れた現在のスタイルに行きつきました。</p>
			</div>
		</div>
	</section>

	<section id="message" class="w-full">
		<div class="flex flex-col items-center">
			<h2 class="text-3xl font-bold font-sawarabi-gothic mb-8">運営者プロフィール</h2>
			<div class="w-50 overflow-hidden rounded-full mx-auto mb-6"><img src="/images/profile.jpg" alt="りゃん近影" class="w-full"></div>
			<ul class="flex flex-col gap-y-4 w-[85%] mx-auto">
				<li>名前: <strong>りゃん</strong></li>
				<li><strong>大阪生まれ</strong>大阪育ち。<strong>福岡在住</strong>Webデザイナー</li>
				<li>台湾での好物は<strong>豆花</strong>と<strong>地瓜球</strong></li>
				<li>台湾（台中・台北）に約7年間在住した経験を持つ。<strong>台湾人パートナー</strong>との生活や、<strong>一眼カメラ</strong>での街並み撮影が、現在の「台湾AI男子」としての活動に大きく影響している。</li>
			</ul>
		</div>
	</section>
</main>
