---
---

<main>
	<section id="message">
		<div class="flex flex-col items-center">
			<h2 class="text-3xl font-bold font-sawarabi-gothic mb-8">台湾Boys + 生成AI</h2>
			<p class="text-center leading-8">美食だけではない台湾。<br>
			ウソだけではない生成AI。<br>
			台湾愛を「台湾男子」に焦点を当て、<br>
			触れられるほどに近い日常を<br>
			表現してみました。</p>	
		</div>
	</section>

	<section id="five_points">
		<div class="flex flex-col items-center">
			<div class="w-11 py-10"><img src="/images/icon.svg" alt="icon" class="w-full"></div>
			<h2 class="text-3xl font-bold font-sawarabi-gothic mb-10">5つの決意</h2>
			<ul class="flex flex-col gap-y-15 w-[85%] mx-auto">
				<li>
					<h3 class="font-shippori-mincho text-xl font-bold mb-3">1.誠実さを強調する</h3>
					<p class="mb-6 leading-7">台湾AI男子は、あらゆる年齢、性別、性的指向の人たちに不快感を与えないよう心がけています。外見の良し悪しではなく、人としての純粋さ、優しさや親しみやすさを引き出したいと考えています。</p>
					<div class="flex justify-end">
						<div class="w-80 rounded-2xl overflow-hidden -mr-15"><img src="/images/photo01.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
				<li>
					<h3 class="font-shippori-mincho text-xl font-bold mb-3">2.故意に特定人物に似せない</h3>
					<p class="mb-6 leading-7">生成AIに対して特定人物の名前を一切入力していません。過去の記憶を頼りに台湾人男性像に近いかを判断しています。</p>
					<div class="flex justify-start">
						<div class="w-80 rounded-2xl overflow-hidden -ml-15"><img src="/images/photo02.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
				<li>
					<h3 class="font-shippori-mincho text-xl font-bold mb-3">3.クリーンな生成</h3>
					<p class="mb-6 leading-7">有料プランの加入により商用利用が許可されているツールのみを使用しています。背景の台湾風景も自ら撮影した写真のみを使用しているため、可能な限りクリーンな創作を心がけています。</p>
					<div class="flex justify-end">
						<div class="w-80 rounded-2xl overflow-hidden -mr-15"><img src="/images/photo03.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
				<li>
					<h3 class="font-shippori-mincho text-xl font-bold mb-3">4.国籍や民族を限定しない</h3>
					<p class="mb-6 leading-7">居住年数や血のつながりだけでは、台湾人であるかを決められないと考えています。台湾固有の文化を尊重し、生活に馴染んでいるのであれば「台湾人」であると定義しています。</p>
					<div class="flex justify-start">
						<div class="w-80 rounded-2xl overflow-hidden -ml-15"><img src="/images/photo04.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
				<li>
					<h3 class="font-shippori-mincho text-xl font-bold mb-3">5.憧れを生み出す</h3>
					<p class="mb-6 leading-7">ただ台湾男性を表現するだけではなく、「こんな友だちが欲しい」「自分も同じような写真を撮ってみたい」と思ってもらえる憧れの対象を発信したいと考えています。</p>
					<div class="flex justify-end">
						<div class="w-80 rounded-2xl overflow-hidden -mr-15"><img src="/images/photo05.jpg" alt="" class="w-full glitch"></div>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section id="rules">
		<div class="flex flex-col items-center w-[80%] mx-auto">
			<div class="w-11 py-10"><img src="/images/icon.svg" alt="icon" class="w-full"></div>
			<h2 class="text-3xl font-bold font-sawarabi-gothic mb-10">注意事項</h2>
			<ul class="flex flex-col gap-y-4 list-disc">
				<li>台湾AI男子は有料のツールで生成しているため、独自の透かしを表示しています。</li>
				<li>当サイトやSNS、あらゆる媒体で公開されている台湾AI男子画像・印刷物等の無断転載、複製、AIへの学習・参照として利用することを禁止しています。</li>
				<li>使用している生成AIツールの種類や生成方法に関するご質問にお答えすることはできません。</li>
				<li>台湾AI男子を使用しての特定人物への誹謗中傷や攻撃、プロパガンダ、反社会的な団体・企業への協力、宗教への勧誘、性的コンテンツの作成は一切致しません。当サービス側で該当すると判断した場合のご依頼は、一切お断りいたします。</li>
				<li>AIによる生成画像であっても、背景の一部は著作権を有している写真を使用し、色調補正などを行っていますので、完全に著作権を放棄しているわけではありません。</li>
			</ul>
		</div>
	</section>
</main>

<script>
	import { PowerGlitch } from 'powerglitch';
	PowerGlitch.glitch('.glitch', {
		playMode: 'always',
		timing: {
			duration: 4000,
			iterations: Infinity,
			easing: 'ease-in-out',
		},
		glitchTimeSpan: {
			start: 0.5,
			end: 0.7,
		},
		shake: {
			velocity: 15,
			amplitudeX: 0.2,
			amplitudeY: 0.2,
		},
		slice: {
			count: 6,
			velocity: 15,
			minHeight: 0.02,
			maxHeight: 0.15,
		},
	});
</script>
